# Q 1

In [5]:
for i in range(1,11):
    print (i)

1
2
3
4
5
6
7
8
9
10

# Q 2

In [11]:
mylist=[1,2,3,4,5]
for i in mylist:
    print (i)

1
2
3
4
5

# Q 3

In [18]:
def sum_list(looplist):
    total=0
    for num in looplist:
        itemType = type(num)

        if itemType == int :
            total+=num
        elif itemType == float :
            total+=num
        elif itemType == list :
            print ("in list")
            t=sum_list(num)
            print(t)
            total+=t
        else:
            total=total
    return total


mylist = [3,4,5,6]
result = sum_list(mylist)
print (mylist,result)

[3, 4, 5, 6] 18

# Q 4

In [44]:
def concat_list(looplist):
    total=""
    for str in looplist:
            total += str
    return total


mylist = ["1a","2b","3c","4d"]
result = concat_list(mylist)
print (mylist,result)

['1a', '2b', '3c', '4d'] 1a2b3c4d

# Q 5

In [49]:
def highest(*args):
    high=0
    for num in args:
        if (high < num):
            high = num

    return high


result = highest(4,5,2,3,4,3,45,5)
print (result)

45

# Q 6

In [76]:
mylist=[1,2,3,4,5,6,7,8,9,10]

total = 0
for num in mylist:
    total += num*num
print (total)

385

# Q 7

In [81]:
mylist = [1,2,3,4,5,6,7,8,9,10]
rt=[]
for number in mylist:
    check =number%2
    if(check ):
        c=1
    else:
        rt.append(number)
print (rt)

[2, 4, 6, 8, 10]

# Q 8

In [17]:
list1 = [1,2,3,4,5]
list2 = [11,12,13,14,15]

list3 = []
length = len(list1)
loop =0
while ( loop < length ):
    list3.append ( list1[loop] + list2[loop] )
    loop += 1
print (list3)

[12, 14, 16, 18, 20]

# Q 9

In [26]:
list1 = ["farooq","Samina","hammad","summaiya","aleena","aneeb","haziq"]
list2 = []
length = len(list1)
loop =0 
while(loop < length):
    list2.append(len(list1[loop]))
    loop += 1
print(list2)

[6, 6, 6, 8, 6, 5, 5]

# Q10

In [8]:
list = [1,2,3,4,5,6,7,8,9,10]
for i in range (1,11,2):
    print (list[i])

2
4
6
8
10