In [11]:
def pi():
    return 3.142
    
def circle(radius):
    area = pi() * (radius **2)
    circum = 2 * pi() * radius
    return (area,circum)
radius = int(input("Enter the radius :"))
(a,b)=circle(radius)
print (a,b)

Enter the radius : 5

78.55 31.419999999999998

In [19]:
def square_list(list):
    temp_list = []
    for num in list:
        if type(num) == int:
            temp_list.append(num**2)
        else:
            temp_list.append(num)
    return temp_list


mylist = [3,5,2,5,2.3,"hello"]
result = square_list(mylist)
print (mylist,result)

[3, 5, 2, 5, 2.3, 'hello'] [9, 25, 4, 25, 2.3, 'hello']

In [5]:
def sum_list(looplist):
    total=0
    for num in looplist:
        itemType = type(num)
        print (itemType,num, total)
        if itemType == int :
            total+=num
        elif itemType == float :
            total+=num
        elif itemType == list :
            print ("in list")
            t=sum_list(num)
            print(t)
            total+=t
        else:
            total=total
    return total


mylist = [3,[4,5,6]]
result = sum_list(mylist)
print (mylist,result)

<class 'int'> 3 0
<class 'list'> [4, 5, 6] 3
in list
<class 'int'> 4 0
<class 'int'> 5 4
<class 'int'> 6 9
15
[3, [4, 5, 6]] 18

In [11]:
def product_list(looplist):
    total=1
    for num in looplist:
        itemType = type(num)
        print (itemType,num, total)
        if itemType == int :
            total *=num
        elif itemType == float :
            total *=num
        elif itemType == list :
            print ("in list")
            t=product_list(num)
            print(t)
            total *=t
        else:
            total=total
    return total


mylist = [[4,5],[2,3]]
result = product_list(mylist)
print (mylist,result)

<class 'list'> [4, 5] 1
in list
<class 'int'> 4 1
<class 'int'> 5 4
20
<class 'list'> [2, 3] 20
in list
<class 'int'> 2 1
<class 'int'> 3 2
6
[[4, 5], [2, 3]] 120

In [3]:
def is_valid_even(number):
    if (type(number) == int):
        check =number%2
        if(check ):
            rt="False"
        else:
            rt = "True"
    else:
        rt="You entered invalid input"
    return rt

is_valid_even('fsf')

'You entered invalid input'

In [11]:
def is_valid_even(number):
    if (type(number) == int):
        check =number%2
        if(check ):
            rt="Odd"
        else:
            rt = "Even"
    else:
        rt="You entered invalid input"
    return rt

for i in range (10,20):
    print("Number is ",i,"Category",is_valid_even(i))

Number is  10 Category Even
Number is  11 Category Odd
Number is  12 Category Even
Number is  13 Category Odd
Number is  14 Category Even
Number is  15 Category Odd
Number is  16 Category Even
Number is  17 Category Odd
Number is  18 Category Even
Number is  19 Category Odd

In [21]:
def power(a=1,b=1):
    return(a**b)
power(2,3)
power()
power(b=3,a=2)

8

In [29]:
def product_list(*args):
    total=1
    for num in args:
        itemType = type(num)
        if itemType == int :
            total *=num
        elif itemType == float :
            total *=num
        elif itemType == list :
            t=product_list(num)
            total *=t
        else:
            total=total
    return total


result = product_list(4,5,2,3,4,3,45,5)
print (result)

324000

In [65]:
def portfolio(**test):
    for key,value  in test.items():
        print (key , "       " ,value)

result = portfolio(Name="Farooq",School="St Pauls",HighSchool="Masroorian",Graduation="Fast ICS",Organization="EOCEAN" )

Name         Farooq
School         St Pauls
HighSchool         Masroorian
Graduation         Fast ICS
Organization         EOCEAN