# Assignment

## List

### Question 1:

In [4]:
lst = []   # Empty List
print (type(lst))

<class 'list'>

### Question 2

In [6]:
lst = [1, 2, 3, 4, 5]  # Five element of the list
len(lst)

5

### Question 3

In [8]:
lst = [1, 2, 3, 4, 5]
print (type(lst)) # length of the list

<class 'list'>

### Question 4

In [10]:
lst = [1, 2, 3, 4, 5]
print (lst[0]) # First Item
print (lst[-1]) # Last Item
mid=int(len(lst) /2 )
print (lst[mid]) # Middle Item

1
5
3

### Question 5

In [12]:
lst = ("Farooq", 50, 5.10, "Married", "Gulstan-e-Jauhar, Blk 19, Karachi")
print (lst)

('Farooq', 50, 5.1, 'Married', 'Gulstan-e-Jauhar, Blk 19, Karachi')

### Question 6

In [14]:
IT_Companies = ["Facebook", "Google","Microsoft", "Apple", "IBM", "Oracle" ,"Amazon"]
print(IT_Companies)
length=len(IT_Companies)
print (length)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
7

### Question 7

In [16]:
print (IT_Companies[0]) # First Item
print (IT_Companies[-1]) # Last Item
mid=int(len(IT_Companies) /2 )
print (IT_Companies[mid]) # Middle Item

Facebook
Amazon
Apple

### Question 8

In [18]:
IT_Companies[3] = "EOCEAN"
print (IT_Companies)

['Facebook', 'Google', 'Microsoft', 'EOCEAN', 'IBM', 'Oracle', 'Amazon']

### Question 9

In [20]:
IT_Companies.append("Space Organization")
print(IT_Companies)

['Facebook', 'Google', 'Microsoft', 'EOCEAN', 'IBM', 'Oracle', 'Amazon', 'Space Organization']

### Question 10

In [22]:
mid=int(len(IT_Companies) /2 )
IT_Companies.insert(mid,"New Organization")
print(IT_Companies)

['Facebook', 'Google', 'Microsoft', 'EOCEAN', 'New Organization', 'IBM', 'Oracle', 'Amazon', 'Space Organization']

### Question 11

In [24]:
print (IT_Companies)
IT_Companies[2] = IT_Companies[2].upper()
print (IT_Companies)

['Facebook', 'Google', 'Microsoft', 'EOCEAN', 'New Organization', 'IBM', 'Oracle', 'Amazon', 'Space Organization']
['Facebook', 'Google', 'MICROSOFT', 'EOCEAN', 'New Organization', 'IBM', 'Oracle', 'Amazon', 'Space Organization']

### Question 12

In [26]:
print(IT_Companies)
IT_Companies.sort()
print(IT_Companies)

['Facebook', 'Google', 'MICROSOFT', 'EOCEAN', 'New Organization', 'IBM', 'Oracle', 'Amazon', 'Space Organization']
['Amazon', 'EOCEAN', 'Facebook', 'Google', 'IBM', 'MICROSOFT', 'New Organization', 'Oracle', 'Space Organization']

### Question 13

In [28]:
print(IT_Companies)
IT_Companies.reverse()
print(IT_Companies)

['Amazon', 'EOCEAN', 'Facebook', 'Google', 'IBM', 'MICROSOFT', 'New Organization', 'Oracle', 'Space Organization']
['Space Organization', 'Oracle', 'New Organization', 'MICROSOFT', 'IBM', 'Google', 'Facebook', 'EOCEAN', 'Amazon']

### Question 14

In [30]:
print(IT_Companies)
new=IT_Companies[0:3]
print(new)

['Space Organization', 'Oracle', 'New Organization', 'MICROSOFT', 'IBM', 'Google', 'Facebook', 'EOCEAN', 'Amazon']
['Space Organization', 'Oracle', 'New Organization']

### Question 15

In [32]:
print(IT_Companies)
new=IT_Companies[-4:-1]
print(new)

['Space Organization', 'Oracle', 'New Organization', 'MICROSOFT', 'IBM', 'Google', 'Facebook', 'EOCEAN', 'Amazon']
['Google', 'Facebook', 'EOCEAN']

### Question 16

In [34]:
print(IT_Companies)
mid=int(len(IT_Companies) /2 )
new=IT_Companies[mid]
print(new)

['Space Organization', 'Oracle', 'New Organization', 'MICROSOFT', 'IBM', 'Google', 'Facebook', 'EOCEAN', 'Amazon']
IBM

### Question 17

In [36]:
print(IT_Companies)
new=IT_Companies.pop(0)
print(IT_Companies)
print(new)

['Space Organization', 'Oracle', 'New Organization', 'MICROSOFT', 'IBM', 'Google', 'Facebook', 'EOCEAN', 'Amazon']
['Oracle', 'New Organization', 'MICROSOFT', 'IBM', 'Google', 'Facebook', 'EOCEAN', 'Amazon']
Space Organization

### Question 18

In [38]:
print(IT_Companies)
mid=int(len(IT_Companies) /2 )
new=IT_Companies.pop(mid)
print(IT_Companies)
print(new)

['Oracle', 'New Organization', 'MICROSOFT', 'IBM', 'Google', 'Facebook', 'EOCEAN', 'Amazon']
['Oracle', 'New Organization', 'MICROSOFT', 'IBM', 'Facebook', 'EOCEAN', 'Amazon']
Google

### Question 19

In [40]:
print(IT_Companies)
new= IT_Companies.pop()
print(IT_Companies)
print (new)

['Oracle', 'New Organization', 'MICROSOFT', 'IBM', 'Facebook', 'EOCEAN', 'Amazon']
['Oracle', 'New Organization', 'MICROSOFT', 'IBM', 'Facebook', 'EOCEAN']
Amazon

### Question 20

In [42]:
print(IT_Companies)
IT_Companies.clear()
print(IT_Companies)

['Oracle', 'New Organization', 'MICROSOFT', 'IBM', 'Facebook', 'EOCEAN']
[]

### Question 21

In [44]:
print(IT_Companies)
del IT_Companies
print(IT_Companies)

[]

NameError: name 'IT_Companies' is not defined

### Question 22

In [62]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
full_stack = front_end + back_end

print (front_end) 
print(back_end)  
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux']
['Node', 'Express', 'MongoDB']
['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

### Question 23

### Question 24

In [64]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
full_stack = front_end + back_end

print (front_end) 
print(back_end)  
print(full_stack)
full_stack.insert(full_stack.index('Redux')+1,'SQL')
full_stack.insert(full_stack.index('Redux')+1,'Python' )
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux']
['Node', 'Express', 'MongoDB']
['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

### Question 25

In [ ]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

### Question 26

### Question 27

In [ ]:
print(ages)
ages.sort()
print (ages)
minimum=min(ages)
maximum = max(ages)
print (minimum)
print(maximum)

### Question 28

In [ ]:
ages.append(minimum)
ages.append(maximum)
print(ages)
ages.sort()

### Question 29

In [ ]:
mid=int(len(ages) /2 )
print (ages)
median = ages[mid]
print (median)

### Question 30

In [ ]:
summation = sum(ages)
print (summation)

### Question 31

In [ ]:

minimum=min(ages)
maximum = max(ages)
print (maximum - minimum)

### Question 32

In [ ]:
minimum=min(ages)
maximum = max(ages)
averages = sum(ages)/len(ages)
print (abs(minimum - averages))
print (abs(maximum - averages))

### Question 33

In [ ]:
countries= ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
mid=int(len(countries) /2 )
print(countries)
print(countries[mid])

### Question 34

In [ ]:
countries= ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
mid=int(len(countries) /2 )
print(countries)

if (mid % 2 )==0:
    mid=mid;
else:
    mid+=1
first_half= countries[0:mid]
second_half= countries[mid:]
print(first_half)
print(second_half)

### Question 35

In [ ]:
countries= ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
first,second,third,*scandic= countries
print(first)
print(second)
print(third)
print(scandic)

## Tuples

### Question 1

In [ ]:
tpl= ()
print(type(tpl))

### Question 2

In [ ]:
brothers=("Shahrukh","Riaz","Aamir")
sisters = ("Nelofar","Kiran")
print(brothers)
print(sisters)

### Question 3

In [ ]:
siblings= brothers + sisters
print(siblings)

### Question 4

In [ ]:
count=len(siblings)
print(count)

### Question 5

In [ ]:
parents=("Younus","Azra")

family=parents+siblings
print(family)

### Question 6

In [ ]:
father,mother,*sibling= family
print(father)
print(mother)
print(sibling)

### Question 7

In [ ]:
fruit= ("apple","banana","mango")
vegetable= ("onion","pepper","potato")
animal = ("beef","mutton")
food_stuff_tp = fruit + vegetable + animal
print(food_stuff_tp)

### Question 8

In [ ]:
food_stuff_lt= list(food_stuff_tp)
print(food_stuff_lt)

### Question 9

In [ ]:
mid=int(len(food_stuff_lt) /2 )
print(food_stuff_lt[mid])

### Question 10

In [ ]:
print(food_stuff_tp)
start = food_stuff_tp[0:3]
end= food_stuff_tp[-3:]
print (start)
print(end)

### Question 11

In [ ]:
del food_stuff_tp
print (food_stuff_tp)

## Set

### Question 1

In [66]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

length=len(it_companies)
print(length)
print (it_companies)

7
{'Google', 'Apple', 'Microsoft', 'Oracle', 'Amazon', 'Facebook', 'IBM'}

### Question 2

In [68]:
it_companies.add("Twitter")
print (it_companies)
print (type(it_companies))

{'Twitter', 'Google', 'Apple', 'Microsoft', 'Oracle', 'Amazon', 'Facebook', 'IBM'}
<class 'set'>

### Question 3

In [70]:
new_list = ["EOCEAN","Test 1","Test 2"]
it_companies.update(new_list)

print(it_companies)
print(type(it_companies))

{'Test 1', 'Twitter', 'Apple', 'Google', 'Oracle', 'Microsoft', 'Amazon', 'IBM', 'EOCEAN', 'Test 2', 'Facebook'}
<class 'set'>

### Question 4

In [ ]:
print(it_companies)
it_companies.remove("Test1")
print(it_companies)

### Question 5

In [ ]:
# remove function raise an error if element is not in the list
#discard function does not raise an error if element is not in the list

### Question 6

In [ ]:
print (A)
print (B)
C = A | B
print (C)

### Question 7

In [72]:
C = A & B
print (C)

{19, 20, 22, 24, 25, 26}

### Question 8

In [74]:
C = A <= B
print (C)

True

### Question 9

In [76]:
C = A.isdisjoint(B)
print (C)

False


### Question 10

In [78]:
print (A)
print (B)
C = A | B
print (C)
D = B | A
print (D)

{19, 20, 22, 24, 25, 26}
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}


### Question 11

In [80]:
print (A)
print (B)
C = A.symmetric_difference(B)
print (C)

{19, 20, 22, 24, 25, 26}
{19, 20, 22, 24, 25, 26, 27, 28}
{27, 28}


### Question 12

In [92]:
del A 
del B
del C
del D


### Question 13

In [94]:
ages_set = set(age)

list_len = len(age)
set_len=len(ages_set)
print ("List len",list_len)
print ("Set len",set_len)
print (ages_set)

List len 8
Set len 5
{19, 22, 24, 25, 26}


### Question 14

In [96]:
#string = set of characters, Text manipulation, string operations
#List = Any (mixed types allowed), Ordered collections with mutable content
# Tuple = Any (mixed types allowed) , Fixed data collections
# Set = Any (mixed types allowed), Unique collections, membership testing